* {
    box-sizing: border-box;
}

div#wrapper, footer{
    padding: 20px;
    margin: auto;
    width: 1100px;
    background-color: rgb(255,234,234);
}

body {
    font-family: "Arial", "sans-serif";
    line-height: 19px;

}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.visuals {
    width: 50%;
    float: left;
}

section.visuals {
    text-align: right;
}

img.appel {
    width: 544px;
}

img.visuals {
    width: 502px;
    margin-bottom: 10px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}

img.article {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 328px;
}

footer {
    background-color: rgb(153,151,155);
    color: white;
}

footer a {
    color: white;
}