* {
    /*border: dotted 1px grey;*/
    align-self: center;
}

body {
    margin: 0px;
    padding: 30px;
    font-family: sans-serif;
    font-size: 18px;
}

form {
    display: grid;
    grid-template-columns: 15% 35% 10% 40%;
}

div {
    width: auto;
    display: flex;
    grid-column: 1/2;
}

h1 {
    grid-column: 1/5;
}

.eten {
    display: flex;
    grid-column: 4/5;
}
input {
    width: auto;
}

.button{
    float: right;
}
.button2 {
    float: right;
    margin-right: 5px;
}
.textarea {
    width: 400px;
    height: 150px;
}
.geslacht {
    display: inline-flex;
    grid-column: 2/3;
}